h1{
    font-style:italic;
    color:rgb(0, 153, 255)
    
}
h2{
    color:rgb(0, 153, 255)
}
.pop{
    text-align: center;
    margin-bottom: 10%;
}
/* #move{
    width: -25%;
} */
/* #main{
    border: 2px solid black;
} */
/* #second{
width:320;
height:226;

}
#third{
   float: left; 
} */