<div class="pop">
  <h1>SKKY HIGH FLIGHT BOOKINGS</h1>
<form>
 Name <br>
<input type="text" name="name" [(ngModel)]="fname">
<br>
Surname <br>
<input type="text" name="surname" [(ngModel)]="lname">
<br>
Age <br>
<input type="text" name="age" [(ngModel)]="age">
<br>
  <h4>Gender</h4>
  <input type="radio" name="gender" value="Male" checked [(ngModel)]="gender"> Male<br>
  <input type="radio" name="gender" value="Female" [(ngModel)]="gender"> Female<br>
  <input type="radio" name="gender" value="Other" [(ngModel)]="gender"> Other  
<br> 
Email<br>
<input type="text" name="email" [(ngModel)]="email">
<br>
Date<br>
<input type="date" name="date"[(ngModel)]="date">
<br>
Enter Departure City<br>
<input type="text" name="departure" [(ngModel)]="departure">
<br>
Enter Arrival City<br>
<input type="text" name="arrival" [(ngModel)]="arrival">
<br>
Enter Time of Flight<br>
<input type="time" name="time" [(ngModel)]="time">
<br>
<button (click)="onLogin()">Book Flight</button>
</form></div>
