<div id="fg">
     
    <div id="lo">
      <ul>
          <li><a routerLink="./home">Home</a></li>
          <li><a routerLink="./about">About</a></li>
          <li><a routerLink="./contact">Contact</a></li>
      </ul>
        
        
        
      
      
      </div>  
      <b>{{fname}}</b><br>
      <b>{{lname}}</b><br>
      <b>{{age}}</b><br>
      <b>{{gender}}</b><br>
      <b>{{date}}</b><br>
      <b>{{departure}}</b><br>
      <b>{{arrival}}</b><br>
      <b>{{time}}</b><br>
      <b>{{email}}</b><br>
      
  </div>
  <router-outlet></router-outlet>
